@font-face {
    font-family: odin_font;
    src: url(./fonts/Norse-Bold.otf);
}
:root{
    --button_color : #596d48;
    --input_borders: #E5E7EB;
}
body{
    margin: 0;
    padding: 0;
    
}
h1{
  font-family: odin_font, Arial, Helvetica, sans-serif;
}
.boddy{
    display: flex;
    justify-content: center;
    height: fit-content;
}
.content{
    width: 80%;
}
.odin-logo-container {
    position: relative;
    background-image: url(./images/background.avif);
    background-size: cover;
    width: 20%;
  }
  .odin_logo_text{
    margin-top: 10%;
    margin-left: 2px;
  }
  
  .odin-logo-overlay {
    color: white;
    position: absolute;
    margin-top: 25%;
    width: 100%;
    height: 100px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
  }
  .form-container {
    width: clamp(100%, 300px, 500px);
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: clamp(500px,100%);
  }
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input_borders);
    border-radius: 5px;
  }
  
  button {
    background-color: var(--button_color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
  }
  
  p {
    font-weight: bold;
  }
  
  a {
    color: var(--button_color);
    text-decoration: none;
    
  }
  .div_button, .text{
    margin-top: 25px;
    margin-left: 25px;
  }
 
  input[type="password"]:invalid {
    border-color: red;
  }
  
  .error-message {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  input[type="password"]:invalid + .error-message {
    display: block;
  }
  input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  